/*-----------------------
  Room Details Section
-------------------------*/

.room-details-section {
	padding-top: 0;
	padding-bottom: 80px;
}
.room-details-item {
	margin-bottom: 50px;
}
.room-details-item img {
	margin-bottom: 40px;
}
.room-details-item .rd-text .rd-title {
	overflow: hidden;
	margin-bottom: 8px;
}
.room-details-item .rd-text .rd-title h3 {
	color: #19191a;
	float: left;
}
.room-details-item .rd-text .rd-title .rdt-right {
	float: right;
	text-align: right;
}
.room-details-item .rd-text .rd-title .rdt-right .rating {
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 10px;
}
.room-details-item .rd-text .rd-title .rdt-right .rating i {
	color: #f5b917;
}
.room-details-item .rd-text .rd-title .rdt-right a {
	display: inline-block;
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	background: #dfa974;
	padding: 14px 28px 13px;
}
.room-details-item .rd-text h2 {
	color: #dfa974;
	font-weight: 700;
	margin-bottom: 25px;
}
.room-details-item .rd-text h2 span {
	font-family: "Cabin", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #19191a;
}
.room-details-item .rd-text table {
	margin-bottom: 32px;
}
.room-details-item .rd-text table tbody tr td {
	font-size: 16px;
	color: #19191a;
	line-height: 36px;
}
.room-details-item .rd-text table tbody tr td.r-o {
	width: 120px;
	color: #707079;
}
.room-details-item .rd-text p {
	color: #707079;
}
.room-details-item .rd-text p.f-para {
	margin-bottom: 22px;
}
.room-booking {
	padding: 0 30px 0 40px;
}
.room-booking h3 {
	color: #19191a;
	margin-bottom: 30px;
}
.room-booking form .check-date {
	position: relative;
	margin-bottom: 15px;
}
.room-booking form .check-date label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking form .check-date input {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
	padding-left: 20px;
}
.room-booking form .check-date i {
	color: #dfa974;
	position: absolute;
	right: 18px;
	bottom: 17px;
}
.room-booking form .select-option {
	margin-bottom: 15px;
}
.room-booking form .select-option label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.room-booking form .select-option .nice-select {
	border-radius: 2px;
	border: 1px solid #ebebeb;
	height: 50px;
	line-height: 50px;
	outline: none;
	padding-left: 20px;
	width: 100%;
	float: none;
}
.room-booking form .select-option .nice-select:after {
	border-bottom: 2px solid #dfa974;
	border-right: 2px solid #dfa974;
	height: 10px;
	margin-top: 0;
	right: 20px;
	width: 10px;
	top: 36%;
}
.room-booking form .select-option .nice-select span {
	font-size: 16px;
	color: #19191a;
	text-transform: uppercase;
	font-weight: 500;
}
.room-booking form .select-option .nice-select .list {
	margin-top: 0;
	width: 100%;
}
.room-booking form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #dfa974;
	border-radius: 2px;
	color: #dfa974;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 30px;
}
